[submodule "qt-manhattan-style"]
	path = qt-manhattan-style
	url = https://github.com/jassuncao/qt-manhattan-style.git
[submodule "qjson-backport"]
	path = qjson-backport
	url = https://github.com/jassuncao/qjson-backport
[submodule "QProgressIndicator"]
	path = QProgressIndicator
	url = https://github.com/mojocorp/QProgressIndicator.git
